@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,700;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.ql-editor {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
}

.ql-editor p {
  line-height: 2rem;
}

.ql-editor h2 {
  line-height: 3rem;
}

.ql-video {
  aspect-ratio: 16/9;
  width: 100%;
}

img {
  width: 100%;
  object-fit: contain;
}

.ql-font-lora {
  font-family: 'Lora', sans-serif;
}

.ql-font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.ql-font-roboto {
  font-family: 'Roboto', sans-serif;
}