@tailwind base;
  @tailwind components;
  @tailwind utilities;

  html, body {
    height: 100%;
  }

  @layer base {
    
:root  {
  --background: 217.2 100% 96%;
  --foreground: 217.2 5% 10%;
  --card: 217.2 50% 96%;
  --card-foreground: 217.2 5% 15%;
  --popover: 217.2 100% 96%;
  --popover-foreground: 217.2 100% 10%;
  --primary: 217.2 91.2% 59.8%;
  --primary-foreground: 0 0% 100%;
  --secondary: 217.2 30% 90%;
  --secondary-foreground: 0 0% 0%;
  --muted: 179.2 30% 95%;
  --muted-foreground: 217.2 5% 40%;
  --accent: 179.2 30% 90%;
  --accent-foreground: 217.2 5% 15%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 217.2 5% 96%;
  --border: 217.2 30% 82%;
  --input: 217.2 30% 50%;
  --ring: 217.2 91.2% 59.8%;
  --radius: 0.5rem;
}
.dark  {
  --background: 217.2 50% 10%;
  --foreground: 217.2 5% 96%;
  --card: 217.2 50% 10%;
  --card-foreground: 217.2 5% 96%;
  --popover: 217.2 50% 5%;
  --popover-foreground: 217.2 5% 96%;
  --primary: 217.2 91.2% 59.8%;
  --primary-foreground: 0 0% 100%;
  --secondary: 217.2 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 179.2 30% 25%;
  --muted-foreground: 217.2 5% 65%;
  --accent: 179.2 30% 25%;
  --accent-foreground: 217.2 5% 95%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 217.2 5% 96%;
  --border: 217.2 30% 50%;
  --input: 217.2 30% 50%;
  --ring: 217.2 91.2% 59.8%;
  --radius: 0.5rem;
}

  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }

    h1 {
      @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl
    }

    h2 {
      @apply scroll-m-20 text-3xl font-semibold tracking-tight first:mt-0
    }

    h3 {
      @apply scroll-m-20 text-2xl font-semibold tracking-tight
    }

    h4 {
      @apply scroll-m-20 text-xl font-semibold tracking-tight
    }

    blockquote {
      @apply mt-6 border-l-2 pl-6 italic
    }

    ul {
      @apply my-6 ml-6 list-disc [&>li]:mt-2
    }

    small {
      @apply text-sm font-medium leading-none
    }
  }